<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Choose a city" aria-label="Number" matInput 
      [formControl]="cityCtrl" 
      [matAutocomplete]="auto" 
      [(ngModel)]='cityStr' 
      (input)='sortCity(cityStr, citiesArray)'>
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf='currentCityArr.length != 0'>
        <mat-option 
          *ngFor="let city of currentCityArr" 
          [value]="city.name + ', ' + city.country"
          (onSelectionChange)='sendCityObj(city)'>
            {{ city.name }}, {{ city.country }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
  <p class='error' *ngIf='errorVisible'>Not found this city, try input again</p>
</form>

